<div class="row">
  <div class="col-sm-6" ng-repeat="specie in results">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="img/generic.jpeg" class="card-img" alt="...">
          <div class="movieTitle">{{specie.name}}</div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{specie.name}}</h5>
            <p class="card-text">
              Altura promedio: <small class="text-muted">{{specie.average_height}}</small><br>
              Promedio de vida: <small class="text-muted">{{specie.average_lifespan}}</small><br>
              Clasificación: <small class="text-muted">{{specie.classification}}</small><br>
              Designación: <small class="text-muted">{{specie.designation}}</small><br>
              Color/es de ojos: <small class="text-muted">{{specie.eye_colors}}</small><br>
              Color/es de pelo: <small class="text-muted">{{specie.hair_colors}}</small><br>
              Planeta hogar: <small class="text-muted">{{specie.homeworld}}</small><br>
              Color/es de piel: <small class="text-muted">{{specie.skin_colors}}</small><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
